<h1>Congratulations <%= @booking.passenger.name%>,</h1>
<p>You have successfully booked a flight, Id: '<%= @booking.flight.id %>' from '<%= @booking.flight.from_airport.code %>' to '<%= @booking.flight.to_airport.code %>', and your booking, Id: '<%= @booking.id %>'.</p>


