<h1>Book Flight</h1>
<div class='container'>
  <%= form_tag(root_path, method: :get) do %>

    <table class='search-table'>

      <tr>
        <td><%= label_tag(:q, "Origin:") %></td>
        <td><%= select_tag :from, options_from_collection_for_select(@airport, "id", "code"), class: 'col-4', include_blank: true%></td>
      </tr>

      <tr>
        <td><%= label_tag(:q, "Destination:") %></td>
        <td><%= select_tag :to, options_from_collection_for_select(@airport, "id", "code"), class: 'col-4',include_blank: true %></td>
      </tr>

      <tr>
        <td><%= label_tag(:q, "Total Passengers:") %></td>
        <td><%= select_tag :total_passengers, options_for_select([1,2,3,4]), class: 'col-4', include_blank: true %></td>
      </tr>

      <tr>
        <td><%= label_tag(:q, "Date:") %></td>
        <td><%= text_field_tag :start_datetime, nil, data: { behavior: "flatpickr"}, class: 'col-4' %></td>
      </tr>

      <tr><td><%= submit_tag "Search" %></td></tr>

    </table>

  <% end %>
</div>

<div>
  <% if @flights.present? %>
    <h3>Search Result</h3>  
    <%= form_tag(new_booking_path, method: :get) do %>
      <table class='table-border table-width'>
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Duration</th>
            <th>Start Date</th>
            <th>Choose Flight</th>
          </tr>
        </thead>

        <tbody>
          <% @flights.each_with_index do |flight, index| %>
            <tr>
              <td><%= flight.from_airport.id %></td>
              <td><%= flight.to_airport.id %></td>
              <td><%= flight.duration %> Hours</td>
              <td><%= flight.start_datetime %></td>
              <td><%= radio_button_tag "selected_flight", flight.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= submit_tag "Confirm" %>
    <% end %>
  <% end %>
</div>
